<!DOCTYPE html>
<html>
<head>
	<title>angularjs</title>
</head>
<body>
<div ng-app="myApp">
<div ng-controller="myCtrl">
X value:{{x}}<br>
Y value:{{y}}<br>
Resulet:{{result}}
<button ng-click="calcadd()">ADD</button>
<button ng-click="calcsub()">SUB</button>

</div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.6/angular.min.js"></script>
<script>
	angular.module("myApp",[])
		.service("math",function(){
			this.add=function(x,y)
			{
				return Number(x)+Number(y);
			}
			this.sub=function(x,y)
			{
				return Number(x)-Number(y);
			}
		})

</script>
</body>
</html>