<div ng-app="filterApp">
	<div ng-controller="myctrl">
		 <table>
            <tr>
                <td>First Value :
                </td>
                <td><input type="text" ng-model="x" />
                </td>
            </tr>
            <tr>
                <td>Second Value :
                </td>
                <td><input type="text" ng-model="y" />
                </td>
            </tr>
            <tr>
                <td>Result is :
                </td>
                <td><b>{{result}}</b></td>
               
            </tr>
        </table>
        <input type="button" ng-click="calcAdd()" value="Addition" />
		<input type="button" ng-click="calcSub()" value="Substraction" />
		<input type="button" ng-click="calcMul()" value="Multiply" />
		<input type="button" ng-click="calcDiv()" value="Division" /><br>
    </div>
	</div>
</div>
<script src="angular.min.js"></script>
	
<script>
	angular.module("filterApp",[])
	.service("mathService", function() {
    this.add = function(x, y) {
        return Number(x) + Number(y);
    }
    this.sub = function(x, y) {
        return Number(x) - Number(y);
    }
    this.mul = function(x, y) {
        return Number(x) * Number(y);
    }
    this.div = function(x, y) {
        return Number(x) / Number(y);
    }
})
.controller("myctrl", function($scope, mathService) {
    $scope.x = 10;
    $scope.y = 30;
    $scope.result = 0;
    $scope.calcAdd = function() {
        $scope.result = mathService.add($scope.x, $scope.y)
    }
    $scope.calcSub = function() {
        $scope.result = mathService.sub($scope.x, $scope.y)
    }
    $scope.calcMul = function() {
        $scope.result = mathService.mul($scope.x, $scope.y)
    }
    $scope.calcDiv = function() {
        $scope.result = mathService.div($scope.x, $scope.y)
    }
})
</script>